
.plus_button {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	border-radius: 50%;
	background-color: var(--color-secondary);
	height: 4rem;
	width: 4rem;
	font-size: var(--font-size-large);
}

.plus_button:hover {
	background-color: var(--color-hover);
	transition: all 200ms;
}