.add-expense-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
	gap: 5rem;
	width: 100%;
	height: 100%;
	
}

.add-expense-form {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
	width: 85%;
}


.form-input {
	display: flex;
	flex-direction: column;

}

.form-input input, .select-category{
	height: 1.75rem;
}

.form-input_date-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
}

.form-input_date {
	width: 15rem;
}

.select-category {
	font: var(--font-primary);
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-medium);
}