
.window-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-background);
	color: var(--color-font);
}

.current-money-container {
	display: flex;
	flex-basis: 30%;
	padding: 1.5rem 2.06rem;
}

.current-money_div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	background-color: var(--color-secondary);
	border-radius: var(--border-radius);
	width: 15rem;
	height: 8.6rem;
	padding: 0.75rem;
}

.current-money_title {
	font-size: var(--font-size-medium);
}

.current-money_number {
	font-size: var(--font-size-large);
}


.transaction-container {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	padding: 0.75rem;
	gap: 1.06rem;
}

.transaction-title {
	font-size: var(--font-size-title);
}

.transactions-item-container {
	display: flex;
	flex-direction: column;
	gap: 0.94rem;
}

.transaction-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: black;
	padding: 0.69rem 0.5rem;

}

.transaction-item_title {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-bold);
}

.transaction-item_date {
	font-size: var(--font-size-small);
	opacity: var(--font-opacity-half);
}

.transaction-item_number {
	font-size: var(--font-size-medium);
}