:root {
	font-size: 16px;

	--color-primary: #76ABAE;
	--color-secondary: #222831;
	--color-background: #31363F;
	--color-font: #EEEEEE;
	--color-hover: #171a1f;

	/* --font-primary: 'Open Sans', sans-serif;
	--font-secondary: "Arial Rounded MT Bold", sans-serif; */

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	--font-opacity-half: 42%;

	--font-size-small: 0.625rem;
	--font-size-medium: 1rem;
	--font-size-large: 2rem;

	--font-size-title: 1.25rem;


	--border-radius: 0.75rem;
}