.dashboard {
	display: block;
}

.current_money_container {
	display: flex;
	flex-basis: 30%;
	padding: 1.5rem 2.06rem;
}

.current_money_div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	background-color: var(--color-secondary);
	border-radius: var(--border-radius);
	width: 15rem;
	height: 8.6rem;
	padding: 0.75rem;
}

.current_money_title {
	font-size: var(--font-size-medium);
}

.current_money_number {
	font-size: var(--font-size-large);
}


.transaction_container {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	padding: 0.75rem;
	gap: 1.06rem;
}

.transaction_title {
	font-size: var(--font-size-title);
	width: 100%;
}

.transactions_item_container {
	display: flex;
	flex-direction: column;
	gap: 0.94rem;
}

.transaction_item_wrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.transaction_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: black;
	padding: 0.69rem 0.5rem;

}

.transaction_item_title {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-bold);
}

.transaction_item_date {
	font-size: var(--font-size-small);
	opacity: var(--font-opacity-half);
}

.transaction_item_number {
	font-size: var(--font-size-medium);
}

.transaction_item_delete_button {
	background-color: var(--color-secondary);
	border-radius: var(--border-radius);
	padding: 1rem;
}

.added_money_successfully {
	background-color: green;
	animation: fadeIn 500ms, fadeOut 700ms 1s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	100% { opacity: 1; }
	0% { opacity: 0; }
}


/* Responsive */

@media screen and (min-width: 460px) {
	.transactions_item_container, .transaction_title {
		width: 80%;
	}
	.transaction_container {
		align-items: center;
	}
	
	.current_money_container {
		margin-left: 8rem;
	}
}

